h1 {
  font-weight: 800;
  font-size: 6vw;
}

p {
  font-size:18px;
}
.header-image {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(http://static1.squarespace.com/static/55094a55e4b05ef9ded4b5f5/t/553c2f24e4b0bd2bbd3bb86d/1430007602860/Stock+Wooden+Table+with+Laptop+Coffee.jpg?format=1500w);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(http://static1.squarespace.com/static/55094a55e4b05ef9ded4b5f5/t/553c2f24e4b0bd2bbd3bb86d/1430007602860/Stock+Wooden+Table+with+Laptop+Coffee.jpg?format=1500w);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  padding-top:10%;
  padding-bottom:30%;
  color:grey;
  text-shadow: 2px 2px 2px black;
  text-align:center;
  max-width:2000px;

}

.info-background {
  background: #fff;
  padding-top: 2%;
}

.info-background img{
  border-radius: 50%;
  margin: 60px 20px;
  height: 400px;
}

.text {
  margin:2%;
  color: #555F61;
  font-family:Open-Sans;
  padding-bottom:10%;
  margin: 20px auto;
  padding-top:5%;
}

.aboutme, .show, .contact p{
  	font-family: Tangerine, serif;
  font-size: 64px;
  text-shadow: 4px 4px 4px #aaa;
}

.text p {
  font-size: 20px;
}

.portfolio {
  background: url("http://wallpapercave.com/wp/ZchCfV1.jpg") no-repeat center center;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  height:auto;
  max-width:100%;
  padding-bottom:30%;
  padding-top:30px;
  max-width:2000px;

}

.show {

  font-size:86px;
  text-align:center;
  padding-bottom:50px;
  padding-top:10px;
  
}


.well {
  background:transparent;
  border:none;
  padding:15px;
  opacity: .9;
}
.well:hover {
  background: rgba(255, 255, 255, 0.5);
}
.contact {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: black;
}

.social-icon {
  color:black;
  padding:2%;
}

.fa-facebook-square:hover {
  color: #0077b5;
}

.fa-github:hover {
  color: #313335;
}

.fa-linkedin:hover {
  color:#0077b5;
}

.fa-fire:hover {
  color:grey;
}

.fa-envelope:hover {
  color: #ea4335;
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:grey;
  text-align:center;
  color:white;
}
.footer a {
  color:red;
}